<!DOCTYPE html>
<html>
<head>
    <title>Book Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Book Management</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('books.get_language') }}">View Languages</a></li>
            <li><a href="{{ url_for('books.get_literature') }}">View Literatures</a></li>
            <li><a href="{{ url_for('books.get_new_literature_ext_api') }}">View Literatures</a></li> #for external api, hasn't done yet
        </ul>
    </nav>
</body>
</html>

