<!DOCTYPE html>
<html>
<head>
    <title>Book Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Book Management Section</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('books.book_home') }}">Home</a></li>
            <li><a href="{{ url_for('books.get_language') }}">View Languages</a></li>
            <li><a href="{{ url_for('books.get_literature') }}">View Literatures</a></li>
            <!-- Add more links for other functionalities -->
        </ul>
    </nav>
</body>
</html>
