<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Hello, welcome to the Can I Borrow World full of Books in all languages (work in progress)!</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('books.get_language') }}">View Languages</a></li>
            <li><a href="{{ url_for('books.get_literature') }}">View Literatures</a></li>
            <li><a href="{{ url_for('books.add_book') }}">Add Books</a></li>
        </ul>
    </nav>
</body>
</html>


