<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="form">
        <div class="form__box">
            <h1>Books in {{ literature }}</h1>
            <ul>
                {% for book in books %}
                    <li><a href="{{ url_for('books.get_desc_by_lite_and_name', literature=literature, bookname=book['name']) }}">{{ book['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
