<!DOCTYPE html>
<html>
<head>
    <title>Literatures</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="form">
        <div class="form__box">
            <h1>Literatures</h1>
            <ul>
                {% for literature in literatures %}
                    <li><a href="{{ url_for('books.get_books_by_literature', literature=literature) }}">{{ literature }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
