<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="form">
        <div class="form__box">
            <div class="form__right">
                <div class="form__padding-right">
                    <form method="POST" action="{{ url_for('login.register') }}">
                        <h1 class="form__title">Create Account</h1>
                        <input type="text" name="username" placeholder="Username" class="form__email">
                        <input type="password" name="password" placeholder="Password" class="form__password">
                        <input type="submit" value="Register" class="form__submit-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
