<!DOCTYPE html>
<html>
<head>
    <title>Company Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="form">
        <div class="form__box">
            <div class="form__right">
                <div class="form__padding-right">
                    <form action="{{ url_for('search.search_companies') }}" method="get">
                        <h1 class="form__title">Company Search</h1>
                        <input type="text" name="industry" placeholder="Industry" class="form__email">
                        <input type="text" name="country" placeholder="Country" class="form__email">
                        <input type="text" name="last_updated_gte" placeholder="Last Updated (YYYY-MM-DD)" class="form__email">
                        <input type="submit" value="Search" class="form__submit-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
